include block_html/_style.pug
include block_html/_include.pug

.page
	.toolbar.toolbar--header#main
		.toolbar-top-wrap
			.main-cont
				.toolbar-top
					a(href="/").logo
						img(src="img/logo.png", alt="").logo__img
						.logo__text Вездеходы <br> сделанные в Росии
					a(href="tel:+7 812 629-15-55").phone
						+icon("phone","icon")
						span +7 812 629-15-55
					.soc-row
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")
					.toolbar-order
						.btn--sm.btn--white.modal-get(data-modal="order") Оставить заявку
					.head-toggle.js-slide-block-toggle(data-menu="menu")
						+icon("menu","icon icon-open")
						+icon("close","icon icon-close")
		.slide-block.slide-block--right.slide-block--menu(data-menu="menu")
			.slide-block-wrap
				.slide-nav.mb-32
					-
						var items = [
							//{name: "главная", id: "#main"},
							{name: "модели", id: "#model"},
							{name: "характеристики", id: "#skills"},
							{name: "почему тайфун", id: "#why"},
							{name: "технологии", id: "#tech"},
							{name: "видео/фото", id: "#video"},
							{name: "отзывы/тесты", id: "#review"},
							{name: "доставка/лизинг", id: "#deliver"},
							{name: "контакты", id: "#contact"},
						];
					each item in items
						a(href = item.id rel = 'm_PageScroll2id' ).slide-nav__el #{item.name}
				a(href="tel:+7 812 629-15-55").phone
					+icon("phone","icon")
					span +7 812 629-15-55
				.btn--sm.btn--white.mt-24.modal-get(data-modal="order") Оставить заявку
		.nav-wrap.nav-wrap--top
			.main-cont
				.nav
					-
						var items = [
							//{name: "главная", id: "#main"},
							{name: "модели", id: "#model"},
							{name: "характеристики", id: "#skills"},
							{name: "почему тайфун", id: "#why"},
							{name: "технологии", id: "#tech"},
							{name: "видео/фото", id: "#video"},
							{name: "отзывы/тесты", id: "#review"},
							{name: "доставка/лизинг", id: "#deliver"},
							{name: "контакты", id: "#contact"},
						];
					each item,i in items
						a(href=item.id rel='m_PageScroll2id' ).nav__el #{item.name}
	.banner(style="background-image:url('img/banner.jpg')")
		.slogan-wrap
			.main-cont
				.slogan
					.slogan__title Тайфун
					.slogan__title-sub вездеход
					.slogan__text созданный побеждать!
					a(href="#model" rel='m_PageScroll2id' ).btn--md.btn--white подробнее

	.content
		.section
			.main-cont
				.advant
					-
						var items = [
							{"icon": "map", "text": "Запас хода", "title": "Более 500 км"},
							{"icon": "control", "text": "управление", "title": "Джойстиком"},
							{"icon": "calendar", "text": "автономность ", "title": "Более 4 дней"},
							{"icon": "engine", "text": "турбо-двигатель", "title": "Япония kubota"},
							{"icon": "transmision", "text": "трансмиссия", "title": "от танка"},
							{"icon": "construction", "text": "Рама (Швеция) ", "title": "сталь docol"},
						];
					each item in items
						.advant__el
							.advant__el-icon
								+icon(item.icon,"icon")
							.advant__el-text #{item.text}
							.advant__el-title #{item.title}
		//#model
		.section.section--dark#model
			.main-cont
				.card-wrap
					.card-img
						.gallery-slider-wrap
							.gallery-slider
								.gallery__el(style="background-image:url('img/model-1.jpg')")
								.gallery__el(style="background-image:url('img/model-2.jpg')")
								.gallery__el(style="background-image:url('img/model-3.jpg')")
							.gallery-slider-nav
								.gallery__el-nav-wrap
									.gallery__el-nav(style="background-image:url('img/model-1.jpg')")
								.gallery__el-nav-wrap
									.gallery__el-nav(style="background-image:url('img/model-2.jpg')")
								.gallery__el-nav-wrap
									.gallery__el-nav(style="background-image:url('img/model-3.jpg')")

					.card-descr
						.title.type--lg.mb-24 Технические Преимущества

						-
							var items = [
								{'name': 'Вес:', 'val': '1 620 кг'},
								{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
								{'name': 'Трансмссия:', 'val': 'от танка'},
								{'name': 'Колеса:', 'val': '1 650 мм'},
								{'name': 'Привод:', 'val': 'карданная передача'},
								{'name': 'Габариты:', 'val': '3 880мм / 2 500мм / 2 480мм'},
								{'name': 'Управление: джойстиком', 'val': 'джойстиком'},
								{'name': 'Двигатель:', 'val': 'Япония, Kubota'},
							];
						each item in items
							.book-row
								.book-row__title #{item.name}
								.book-row__dot
								.book-row__value #{item.val}
		//#skills
		.section#skills
			.main-cont
				.section-title Характеристики
				.skills-cont
					.js-tab-wrap.mb-48
						.tab.js-tick-cont.mb-48
							.tab__el.js-tick.active.js-tab основные
							.tab__el.js-tick.js-tab Двигатель
							.tab__el.js-tick.js-tab Трансмиссия
							.tab__el.js-tick.js-tab масса и габариты
						.tab-cont-wrap
							.tab-cont.js-tab-cont.active
								-
									var items = [
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Трансмссия:', 'val': 'от танка'},
										{'name': 'Колеса:', 'val': '1 650 мм'},
										{'name': 'Привод:', 'val': 'карданная передача'},
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Управление: джойстиком', 'val': 'джойстиком'},
									];
								each item in items
									.book-row
										.book-row__title #{item.name}
										.book-row__dot
										.book-row__value #{item.val}
							.tab-cont.js-tab-cont
								-
									var items = [
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Трансмссия:', 'val': 'от танка'},
										{'name': 'Колеса:', 'val': '1 650 мм'},
										{'name': 'Привод:', 'val': 'карданная передача'},
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Управление: джойстиком', 'val': 'джойстиком'},
									];
								each item in items
									.book-row
										.book-row__title #{item.name}
										.book-row__dot
										.book-row__value #{item.val}
							.tab-cont.js-tab-cont
								-
									var items = [
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Трансмссия:', 'val': 'от танка'},
										{'name': 'Колеса:', 'val': '1 650 мм'},
										{'name': 'Привод:', 'val': 'карданная передача'},
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Управление: джойстиком', 'val': 'джойстиком'},
									];
								each item in items
									.book-row
										.book-row__title #{item.name}
										.book-row__dot
										.book-row__value #{item.val}
							.tab-cont.js-tab-cont
								-
									var items = [
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Трансмссия:', 'val': 'от танка'},
										{'name': 'Колеса:', 'val': '1 650 мм'},
										{'name': 'Привод:', 'val': 'карданная передача'},
										{'name': 'Грузоподъемность:', 'val': '1 300 кг'},
										{'name': 'Управление: джойстиком', 'val': 'джойстиком'},

									];
								each item in items
									.book-row
										.book-row__title #{item.name}
										.book-row__dot
										.book-row__value #{item.val}
					.btn-row.btn-row--line.btn-row--mid
						.btn--md.btn--light.btn--mobile.modal-get(data-modal="order") узнать стоимость
						a(href="#").btn--md.btn--light.btn--mobile скачать комплектации и цены

		//#why
		.section.section--dark#why
			.main-cont
				.section-title почему тайфун?
				.section-title-sub Да потому что это уникальная техника 4 в 1
				.why
					-
						var items = [
							{
								"icon": "offroad",
								"title": "для  бездорожья",
								"text": "Трава, лес, скалы, камни, каменистые осыпки, песок, гравий",
							},
							{
								"icon": "amphibian",
								"title": "Амфибия",
								"text": "Прибрежная зона. Идеален для рыбалки",
							},
							{
								"icon": "swamp",
								"title": "болотоход",
								"text": "Песок, торф, болото, дюны, соленые озёра",
							},
							{
								"icon": "snow",
								"title": "Снегоход",
								"text": "Свежевыпавщий снег, лёд, слежавшийся снег, сугробы",
							},
							{
								"icon": "trailer",
								"title": "Транспортировка прицепом",
								"text": "Вам не нужно ломать голову как и с помощью чего отвезти ваш вездеход",
							},
							{
								"icon": "double",
								"title": "дублирующие системы",
								"text": "Узлов управления, электроники, а так же простота в обслуживании и доступность деталей",
							},
						];
					each item in items
						.why__el
							.why__el-icon
								img(src="img/" + item.icon + ".svg", alt="")
							.why__el-title #{item.title}
							.why__el-text #{item.text}
				.btn-row.btn-row--line.btn-row--mid
					.btn--md.btn--white.modal-get(data-modal="subscribe") запись на тест-драйв

		//#tech
		.section#tech
			.main-cont
				.section-title Технологии
				.tech
					.tech-list
						.tech-list__el.active(data-item="construction")
							.tech-list__el-icon
								+icon("construction","icon")
							.tech-list__el-text Рама из шведской стали DOCOL
							.tech-list__el-pin#pinConstruction
						.tech-list__el(data-item="tire")
							.tech-list__el-icon
								+icon("tire","icon")
							.tech-list__el-text Шины низкого давления 1650 мм
							.tech-list__el-pin#pinTire
						.tech-list__el(data-item="engine")
							.tech-list__el-icon
								+icon("engine","icon")
							.tech-list__el-text Турбодизельный двигатель Kubota
							.tech-list__el-pin#pinEngine
						.tech-list__el(data-item="paint")
							.tech-list__el-icon
								+icon("paint","icon")
							.tech-list__el-text Алюминиевый сверхлегкий кузов и покраска raptor
							.tech-list__el-pin#pinPaint
						.tech-list__el(data-item="gearbox")
							.tech-list__el-icon
								+icon("gearbox","icon")
							.tech-list__el-text Надёжная трансмиссия
							.tech-list__el-pin#pinGearbox
					.tech-img
						.tech-img__el.active(style="background-image:url('img/construction.png')" data-item="construction")
						.tech-img__el(style="background-image:url('img/tire.png')" data-item="tire")
						.tech-img__el(style="background-image:url('img/engine.png')" data-item="engine")
						.tech-img__el(style="background-image:url('img/paint.png')" data-item="paint")
						.tech-img__el(style="background-image:url('img/gearbox.png')" data-item="gearbox")
						.tech-point.active.tech-point--construction(data-item="construction")#boxConstruction
							span
						.tech-point.tech-point--tire(data-item="tire")#boxTire
							span
						.tech-point.tech-point--engine(data-item="engine")#boxEngine
							span
						.tech-point.tech-point--paint(data-item="paint")#boxPaint
							span
						.tech-point.tech-point--gearbox(data-item="gearbox")#boxGearbox
							span

		//#video
		.section.section--dark#video
			.main-cont
				.section-title видео
				.video-wrap
					.
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/videoseries?list=PL0H_brRjTNNRfhqQ8711XipwSl7oeNrva&showinfo=0" showinfo="1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; ;" allowfullscreen class="video"></iframe>
		//#photo
		.section#photo
			.main-cont
				.section-title Фото
				.photo-list.mb-48
					- for (var i=1;i<16;i++)
						a(href="img/gallery-" + i + ".jpg" data-fancybox="gallery").fancybox
							.photo-list__el(style="background-image:url('img/gallery-" + i + ".jpg')")
				.btn-row.btn-row--line.btn-row--mid
					.btn--md.btn--light Больше фото

		//#review
		.section.section--dark#review
			.main-cont
				.section-title отзывы и тесты
				.slider-wrap.slider-wrap--simple
					.slider-control.slider-control--left
						+icon("arrow-left-coner","icon")
					.slider-control.slider-control--right
						+icon("arrow-right-coner","icon")
					.slider-item.slider-review
						- for (var i=0;i<5;i++)
						.review__el-wrap
							.review__el
								.review__el-text.text
									p «За рулем»  первым поездил на машине второго поколения.
									p Плавность хода нового «бездорожника» - почти как у кроссовера, а на спальном месте теперь можно вытянуться во весь рост.
								.review__el-name Максим Гомякин
								.review__el-location Журнал «За рулем»
						.review__el-wrap
							.review__el
								.review__el-text.text
									p Машина отлично управляеться, едет там где казалось бы вообще не возможно проехать даже на танке!
									p Незаменимая техника для охотников, рыболовов и любителей экстремальных путешествий!
								.review__el-name Стяпан Загуляйло
								.review__el-location Интернет издание  «Вездеходы России»
						.review__el-wrap
							.review__el
								.review__el-text.text
									p Машина отлично управляеться, едет там где казалось бы вообще не возможно проехать даже на танке!
									p Незаменимая техника для охотников, рыболовов и любителей экстремальных путешествий!
									p Незаменимая техника для охотников, рыболовов и любителей экстремальных путешествий!
								.review__el-name Стяпан Загуляйло
								.review__el-location Интернет издание  «Вездеходы России»

		.deliver-wrap#deliver
			.deliver(data-modal="order" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000" style="background-image:url('img/country.svg')")
				.deliver-cont
					.deliver-title(data-aos="fade-down" data-aos-delay="600" data-aos-duration="1000") доставка
					.deliver-text(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000") в любою точку россии <br> и ближнего зарубежья
					.btn--md.btn--light.modal-get(data-modal="calc" data-aos="zoom-in" data-aos-delay="1600" data-aos-duration="1000") рассчитать стоимость

		.section.section--dark
			.main-cont
				.section-title лизинг
				.section-title-sub.section-title-sub--lg Процентная ставка <span>5,5%</span> Возврат НДС: <span>20%</span>
				.cost.mb-64
					.cost__el.modal-get(data-modal="order")
						.cost__el-cont
							.cost__el-img
								img(src="img/car.svg", alt="").car--black
								img(src="img/car-mark.svg", alt="").car--color
							.cost__el-text ежемесячный платёж
							.cost__el-cost до <span>40 000</span> руб.
							a(href="#").cost__el-link Вам доступно более <br> 20 предложений
						.btn--md.btn--light Оставить заявку
					.cost__el.modal-get(data-modal="order")
						.cost__el-cont
							.cost__el-img
								img(src="img/car.svg", alt="").car--black
								img(src="img/car-mark.svg", alt="").car--color
							.cost__el-text ежемесячный платёж
							.cost__el-cost до <span>60 000</span> руб.
							a(href="#").cost__el-link Вам доступно более <br> 20 предложений
						.btn--md.btn--light Оставить заявку
					.cost__el.modal-get(data-modal="order")
						.cost__el-cont
							.cost__el-img
								img(src="img/car.svg", alt="").car--black
								img(src="img/car-mark.svg", alt="").car--color
							.cost__el-text ежемесячный платёж
							.cost__el-cost до <span>100 000</span> руб.
							a(href="#").cost__el-link Вам доступно более <br> 20 предложений
						.btn--md.btn--light Оставить заявку

				.type--lg.type--bold.type--center.mb-48 Банки партнеры

				.slider-wrap.slider-wrap--simple
					.slider-control.slider-control--left
						+icon("arrow-left-coner","icon")
					.slider-control.slider-control--right
						+icon("arrow-right-coner","icon")
					.slider-item.slider-partner
						- for (var j=0;j<3;j++)
							- for (var i=1;i<5;i++)
								.partner__el-wrap
									.partner__el(style="background-image:url('img/partner-" + i + ".png')")

		//#example
		.section#example
			.main-cont
				.section-title выданные Болотоходы
				.photo-list.mb-48
					- for (var i=1;i<10;i++)
						a(href="img/example-" + i + ".jpg" data-fancybox="example").fancybox
							.photo-list__el(style="background-image:url('img/example-" + i + ".jpg')")

		.location#contact
			.type--xl.type--head.type--center.mb-24 мы находимся по адресу
			.type--lg.type--center.mb-64 Санкт Петербург, пр. Тореза, 68 <br> (территория завода)
			.map-wrap
				.map
					//put map code her
	//footer
	.toolbar
		.toolbar-top-wrap
			.main-cont
				.toolbar-top
					a(href="/").logo
						img(src="img/logo.png", alt="").logo__img
						.logo__text Вездеходы <br> сделанные в Росии
					a(href="tel:+7 812 629-15-55").phone
						+icon("phone","icon")
						span +7 812 629-15-55
					.soc-row
						a(href="#").soc-row__el
							+icon("soc-instagram","icon")
						a(href="#").soc-row__el
							+icon("soc-vk","icon")
					.toolbar-order
						.btn--sm.btn--white.modal-get(data-modal="order") Оставить заявку
		.nav-wrap
			.main-cont
				.nav
					-
						var items = [
							//{name: "главная", id: "#main"},
							{name: "модели", id: "#model"},
							{name: "характеристики", id: "#skills"},
							{name: "почему тайфун", id: "#why"},
							{name: "технологии", id: "#tech"},
							{name: "видео/фото", id: "#video"},
							{name: "отзывы/тесты", id: "#review"},
							{name: "доставка/лизинг", id: "#deliver"},
							{name: "контакты", id: "#contact"},
						];
					each item,i in items
						a(href=item.id rel='m_PageScroll2id' class=i === 0 ? 'nav__el--active' : '').nav__el #{item.name}
	.footer
		.footer-row-wrap
			.main-cont
				.footer-row
					.footer-info Вездеход «Тайфун» (C) 2017-2020 <br> Информация на сайте не является публичной офертой
					.footer-info.footer-info--right Разработка и продвижение <br> веб студия «Снайпер»
		.footer-row-wrap
			.main-cont
				.footer-row
					.footer-info.text
						p
							a(href="#") Сертификат соответствия
						p
							a(href="#") Политика конфиденциальности
						p
							a(href="#") Пользовательское соглашение
					.footer-info.footer-info--right.text
						p Вся представленная на сайте информация носит информационный характер и не является публичной офертой, определяемой положениями ст. 437 (2) ГК РФ. Цены, условия приобретения, спецпредложения, технические характеристики и комплектации вездеходов, указанные на сайте, приведены для примера и могут быть изменены в любое время без предварительного уведомления.

	//modal
	.modal-layer
		.modal-filter
		.modal-wrap
			.modal(data-modal="order")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Оставьте заявку
					form
						.input-cont
							.input-row
								input(type="text" placeholder="Ваше имя" class="input")
						.input-cont
							.input-row
								input(type="text" placeholder="Телефон" class="input")
						.login-remember
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").style-input
									.style-input-element
										+icon("checked","icon")
									.style-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности]
						input(type="submit" value="Отправить заявку").modal-send
			.modal(data-modal="subscribe")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Записаться на <br> тест-драйв
					form
						.input-cont
							.input-row
								input(type="text" placeholder="Ваше имя" class="input")
						.input-cont
							.input-row
								input(type="text" placeholder="Телефон" class="input")
						.input-cont
							.input-row
								input(type="text" placeholder="Дата" class="input")
						.login-remember
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").style-input
									.style-input-element
										+icon("checked","icon")
									.style-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности]
						input(type="submit" value="Отправить заявку").modal-send
			.modal(data-modal="calc")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Расчитать стоимость
					form
						.input-cont
							.input-row
								input(type="text" placeholder="Ваше имя" class="input")
						.input-cont
							.input-row
								input(type="text" placeholder="Телефон" class="input")
						.input-cont
							.input-row
								input(type="text" placeholder="Город" class="input")
						.login-remember
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").style-input
									.style-input-element
										+icon("checked","icon")
									.style-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности]
						input(type="submit" value="Отправить заявку").modal-send
include ./block_html/_script.pug
